<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="{{ path('app_index') }}">
        <span class="nav-title d-flex align-items-center">
            <img src="{{ asset('build/images/logo.png') }}" class="logo-nav mr-4 ml-4 anim-logo" alt="logo de wild series">
            <span class="uc-nav">W</span>ild <span class="uc-nav">S</span>eries
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('wild_index') }}"> Les Séries </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"> Connexion </a>
            </li>
            <li class="nav-item">
                <img src="{{ asset('build/images/connexion.png') }}" class="logo-nav mr-4 ml-4" alt="logo connexion">
            </li>
        </ul>
    </div>
</nav>