.doors {
  height: 100vh;
  width: 100vw;
  z-index: 5;
  position: absolute;
  top: 0;
} .left-door {
  background-image: url("../images/left.png");
  background-size: cover;
  @include animationDoors;
  }
  .right-door {
    background-image: url("../images/right.png");
    @include animationDoors;
    background-size: cover;
  }

.full-screen {
  height: 85vh;
  width: 100vw;
  position: absolute;
  top: 0;
}  .is-close {
    position: absolute;
    top: 47vh;
    left: 45vw;
    z-index: 10;
    font-size: 2rem;
    font-family: $special-font;
   }

.disapear{
  display: none;
}

.openl{
  transform: translateX(-50vw);
  transition-duration: 3s;
}
.openr{
  transform: translateX(50vw);
  transition-duration: 3s;
}

.byebye{
  transform: translateY(-100vh);
  transition-delay: 3s;
}
