nav {
  background-color: $main-color;
  box-shadow: 0 25px 55px darken($main-color, 10%);
} .nav-title {
  font-family: $special-font;
  font-size: 3rem;
  color: $second-main-color;
    &:hover {
      color: darken($second-additional-color, 10%);
      @include animationShadow;
    }
  }  .nav-link{
        color: $second-main-color;
        font-size: 2rem;
        font-family: $special-font;
        &:hover {
          color: $second-additional-color;
          @include animationShadow;
        }
       }.uc-nav {
          font-size: 45px;
          } .logo-nav {
               height: 57px;
               width: 57px;
              }

