$main-color: #084B5E;
$second-main-color: #975008;
$additional-color: #112266;
$second-additional-color: #976C08;

$title-font: 'Bangers', cursive;
$special-font:'Dancing Script', cursive;
$text-font: 'Cormorant Garamond', serif;