$main-color: #03B8E7;
$second-main-color: #FF2FC0;
$additional-color: #FC5511;
$second-additional-color: #000;

$title-font: 'Bangers', cursive;
$special-font:'Dancing Script', cursive;
$text-font: 'Cormorant Garamond', serif;